body {
  text-align: center;
  background-color: #313131;
  color: aliceblue;
}

.App{
  width: 80%;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  
}

.menu{
  /* align-self: center;
  width: 50px; */
}

.container{
  background-color: #3B5CA1;
  margin: 50px;
  height: 80vh;
  margin: 0 auto;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ticket, .calculate{
  background-color: #313131;
  width: 400px;
  height: 400px;
  border-radius: 9px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.bar-menu{
  width: 55px;
  height: 7px;
  background-color: aliceblue;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 5px 0;
}
