body {
  text-align: center;
  background-color: #313131;
  color: aliceblue;
}

.App{
  width: 80%;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: 120px 1fr;
  align-items: center;
  padding: 20px 0px;
}

.menu{
  /* align-self: center;
  width: 50px; */
}

.container{
  background-color: #3B5CA1;
  margin: 50px;
  height: 80vh;
  margin: 0 auto;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container-config{
  background-color: #3B5CA1;
  height: 80vh;
  margin: 0 auto;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ticket, .calculate{
  background-color: #313131;
  width: 400px;
  height: 500px;
  border-radius: 9px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.calculate{
  margin-top: 50px;
  align-self: flex-start;
  height: auto;
}

.ico-config{
  display: flex;
  gap: 20px;
}

.ico-config img{
  cursor: pointer;
  width: 10x;
}

.ico-config img:hover{
  transform: scale(1.1);
}

